[data-theme="light"] {
  --bg: white;
  --text: black;
  --grad-start: #7928ca;
  --grad-mid: #bc14a5;
  --grad-end: #ff0080;
  --label-unselected: #9b9b9b;
  --label-selected: var(--grad-start);
  --underscore: var(--label-unselected);
  --grad-btn-text: white;
  --btn-hover: linear-gradient(to right, #934adb, #ff3399);
  --outline-btn-text: var(--text);
}

[data-theme="dark"] {
  --bg: #181a1b;
  --text: #e8e6e3;
  --grad-start: #6120a2;
  --grad-mid: #961084;
  --grad-end: #cc0066;
  --label-unselected: #a9a196;
  --label-selected: #9147db;
  --underscore: #4c5356;
  --grad-btn-text: var(--text);
  --btn-hover: linear-gradient(to right, #5b1e97, #ad0057);
  --outline-btn-text: var(--text);
}

:root {
  --btn-box-shadow: rgba(0, 0, 0, 0.14) 0 2px 2px 0,
    rgba(0, 0, 0, 0.12) 0 3px 1px -2px, rgba(0, 0, 0, 0.2) 0 1px 5px 0;
  --btn-hover-box-shadow: rgba(0, 0, 0, 0.14) 0 3px 3px 0,
    rgba(0, 0, 0, 0.12) 0 1px 7px 0, rgba(0, 0, 0, 0.2) 0 3px 1px -1px;
}

:root {
  font-family: "Inter", sans-serif;
}
